@import 'antd/dist/reset.css';
@import 'country-flag/sprite-flags-24x24.css';
@import 'ql-editor.css';

.ant-modal-root .ant-modal-mask {
  opacity:0.3  !important;

}
.Input.ant-input {
    padding: 4px 12px 4px 11px;
    margin-top:5px;
}

.float-label {
    position: relative;
  }
  
  .label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
 
  
  }
  
  .label-float {

    font-size: 12px;
  }
 
.ioymdo {   
      background-color: white !important;
  }
  .ant-picker {
    padding-top: 12px  !important;
    padding-bottom: 12px !important;
}
/*Index Css Customis */
/* ComponentWithImage.module.css */

.container {
	display: flex;
	align-items: center; /* Pour centrer verticalement */
  }
  
  .image {
	width: 100px; /* Ajustez la largeur selon vos besoins */
	height: auto; /* Assurez-vous que l'image conserve ses proportions */
	margin-right: 20px; /* Espace entre l'image et le contenu */
  }
  
  .content {
	/* Styles pour le contenu à droite de l'image */
  }
  
  /* Positionnement de l'image à gauche */
  @media (max-width: 768px) {
	.container {
	  flex-direction: column; /* Pour afficher les éléments en colonne sur les petits écrans */
	}
	
	.image {
	  margin-right: 0; /* Supprimer la marge à droite de l'image */
	  margin-bottom: 20px; 
	}
  }
  .page {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    min-height: 100%;
}

.logo {
    align-self: flex-end;
    width:80px;
    height:80px;
    /* margin-top:20px;
    margin-right:1rem;
    font-weight: bold;
    print-color-adjust: exact;
    text-align: center;
    font:
      24px "Helvetica",
      sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    print-color-adjust: exact; */
}
  .page1{
    /* width:210mm; /* Largeur en pixels */
    /* height: 297mm; */
    background-color: white;
    background: white;
    margin:10px;
    opacity: 1;
    scale: 1;
    /* border-bottom: 3px solid #32a1ce;
    */

  }
  .page2{
    background-color: white;
    background: white;
    transform: scale(1);
 
    margin-top: 2.5rem;
    margin-left:13px;
    margin-right: 13px;
    margin-bottom:10rem ;
  }
  .page3{
    background-color: white;
    background: white;
    transform: scale(1);
    margin-top: 4rem;
    margin-left:13px;
    margin-right: 13px;
    margin-bottom:10rem ;
   

  }
  .page4{
   
    background-color: white;
    background: white;
    transform: scale(1);
    margin-top: 4rem;
    margin-left:13px;
    margin-right: 13px;
    margin-bottom:10rem ;
  }

  .HeaderContrat{
  background-color: white;
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /* border-bottom: 3px solid #32a1ce;
  border-top: 3px solid #32a1ce; */

  

  }
  .HeaderContrat::after {
    content: "";
    display: block;
    border-bottom: 3px solid #32a1ce;
    margin-left: 20px;
    margin-right: 20px;
  }
  .table{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 1rem;
  
  

  }
  .stylepage{
  
    font-weight: bold;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

   
  }
  .zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    border: solid 1px #DDEEEE;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
  
.ContratPage{

	background-color:white;
  display:block;
  justify-items: center;
	/* background-color: red; */
}
.TitleGeneral{
  font-Family:'Noto Kufi Arabic' ;
  text-Align: center;
  font-Size: 3rem;
  color: "#000000";
  letter-Spacing:0rem,;
  font-Weight:bold;
  margin-Top:1rem;
  text-decoration:underline black

}
.Title {
  font-weight: bold;
  font-size: 28px;
}
.SousTitlepage1 {
  font-weight: bold;
  color: black;
  font-size: 28px;
}
.TitleSouligne {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  font-size: 28px;
}
.infoImportant{
  text-decoration: underline;
  font-weight: bold;

}
.HeaderContratPage{

	background-color: azure;
	border-bottom-color: 2px white;
	display: flex;
  flex:1;
	flex-direction: row;
  justify-content:center;
	text-align: center;
	background-color: white;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  text-align: center;



}
.ContentContrat{
display: flex;
align-items: end;
text-align: right;

}
.Hauttitle{
display: inline;
font-Family:'Noto Kufi Arabic';
text-Align: left;
font-Size: 2.333333em; 
color: #000000;
letter-spacing: 0;
font-size:1.166667em;
font-weight: bold;
line-height: 1.117187em;



}
.FirstContent{
font-family: Arial, Helvetica, sans-serif;
color:black
}
.paragraphWithInterline{
  margin-Top:"20px";
  line-height: 2;
 
  
}
.titleparagraphe{
  margin-Top:"20px";
  line-height: 2;

}
.Paragraphe1{
display:inline-flex;
flex-Direction:row;
color:black;
font-Weight:400;
line-height:1rem;

}
.infoContrat{
  font-Weight: bold;
   color: #001f5d;
   font-Size:29px


}
.Espace{
  padding-top: 10px;
padding-bottom: 20px;
}
.Text{

line-height:1rem;	
}
.sousTitle{
  font-weight: bold;
  white-space: nowrap;
  font-size:1em;
  line-height:1rem;	
  padding-top: 10px;
  padding-bottom: 20px;

}
.soulignesTitle{
  font-weight: bold;
  padding-bottom: 20px;
  font-size:1em;
  padding-top: 1rem;
 
  text-decoration: underline;
  font-Family:'Noto Kufi Arabic';

}
.Sprint1{
  background-color: white;
  line-height:1rem;
}
/*End Index Css Customis */

.icon{
  border: solid 1px #F84E4E;
    color: rgb(41, 151, 255);
      padding: 3;
      font-size: 16px;

}
.viewicone{
  border: 1px solid red;
color: red;
border-radius: 50%;
padding: 4px;
font-size: 24px;
cursor: pointer;
margin-right: 2px;

}
.viewEdit{
  border:solid 1px rgb(41, 151, 255);
  border-radius: 50%;
  color: rgb(41, 151, 255);
  font-size: 24px;
  cursor: pointer;
  margin-right: 2px;

}
.viewEdit:hover{
  opacity: 0.2;

}
.viewicone:hover{
 opacity: 0.2;

}
.viewDownload
{
  border: 2px solid black;
color: black;
border-radius: 50%;
padding: 4px;
font-size: 24px;
cursor: pointer;
margin-right: 2px;

}
.viewDownload:hover{
  opacity: 0.2;
 
 }

.iconeView {
  border: 1px solid red;
color: red;
border-radius: 50%;
padding: 4px;
font-size: 24px;
cursor: pointer;
margin-right: 5px;


}

.iconeView:hover{
 
  opacity: 1
}

.iconeEdit{
  border: 1px solid #0083ff;
  color: #0083ff;
  border-radius: 50%;
  padding: 4px;
  font-size: 24px;
  cursor: pointer;


}

.iconeEditTime {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #0083ff;
  border-radius: 50%;
  color: #0083ff;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.iconeEditTimeSheet{
  display: flex;
  border: solid 1px #0083ff;
  border-radius: 50%;
  color: #0083ff;
  width: 25px;
  height: 25px;
  cursor: pointer;



}

.Separateur{
  width:10px;
}
.iconeEditSave{
  border:solid 1px green;
  border-radius: 100%;
  color: green;
  cursor: pointer;
  width:25px;
  height: 25px;


}
.iconeEditSave:hover{
  opacity: 1

}
.iconeEdit:hover{
 
  opacity: 1
}
.iconeEditRecruitement{
  border:solid 1px #5784BA;
  padding: 8;
  font-size: 24px;
  border-radius: 50%;
  color: #5784BA;
  cursor: pointer;
  justify-content:center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 8px;
  opacity: 0.5;
  align-items: center

}
.iconeEditRecruitement:hover{
 
  opacity: 1
}

.iconeFunctionheet{
  border:solid 1px #24D26D;
  padding: 8;
  font-size: 24px;
  border-radius: 50%;
  color: #24D26D;
  cursor: pointer;
  justify-content:center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 8px;
  opacity: 0.5;
  align-items: center

}
.iconeFunctionheet:hover{
 
  opacity: 1
}
.iconeDownload{
  border:solid 1px 
  rgb(10, 143, 220);
  padding: 8;
  font-size: 25px;
  border-radius: 50%;
  color: 
  rgb(10, 143, 220);
  cursor: pointer;
  justify-content:center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  margin: 8px;
  opacity: 0.5;
  align-items: center

}
.iconeDownload:hover{
 
  opacity: 1
}
.gray-background {
  background-color: rgba(98, 204, 124, 0.5); /* Adjust the opacity to your preference */
}
.modal-container {
  position: fixed;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: 900px;
  background-color: #ffffff;
  border: 2px solid black;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.green-button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.ViewInput{
  color:black;
  font-Weight:400;
  font-Size:15px
}
.btnPagination{
  background: transparent;
  margin-Right: 8px;
   background-Color: transparent;
   border-Color:transparent;
   margin-left: 8px;
   

}
.NumberPagination{
  border-Color:transparent;
  margin-Left:3px;
  margin-Right:3px
}
.modallabel{
  margin-bottom: 3px;
  /* //color:rgb(41, 151, 255); */
font-weight: bold;
}
.TitleModal{
  font-size: 20px;
  color:rgb(41, 151, 255);

}
.SousTitle{
  text-align: center ;
  padding-top: 5px;
  font-variant-caps: titling-caps;



}
.InputAuth{
  padding-top: 15px;
  padding-bottom: 15px;
}

.SelectModal{

 width: 95% !important;
 margin-right: 5px;
 margin-left: 5px ;
}
.custom-alert{
  font-size: 12px;
  margin-top: 10px;
}
.editing-row {
  background-color: #ECF8F6 !important;
}
/* .ant-select-single .ant-select-selector{
  font-size: unset !important;
  font-size: 10px !important;
}
.ant-picker .ant-picker-input{
  font-size: unset !important;
  font-size: 10px !important;

} */*
.InputComment{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.table-cell-center {

}
.InputDate{
  height: 2rem !important;
  max-width: 100%;
}

.input-center {
 
}
.ant-card{
  box-shadow: none !important;
  margin-bottom: 20px;
  border-radius: 20px !important;

}
.gcUqXF {

  padding: 20px !important;}
.Pagination{
  display: flex;
   justify-Content: flex-end;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
  
}
.StyleInput{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.StyleInputDate{
  height: 2.5rem;
  width: 100%;


}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item{
  padding-inline-end: 0px !important;
}
/* Styles pour les événements spécifiques */
.event-red {
  background-color: #C0B198!important;
  color: white !important;
}

.event-yellow {
  background-color: #2DA8E0 !important;
  color: black !important;
}

/* Styles supplémentaires pour garantir l'application dans toutes les vues */
.rbc-event {
  border-radius: 5px;
  opacity: 0.8;
  display: block;
}

/* Styles pour les vues du calendrier */
.rbc-month-view .rbc-event {
  background-color: inherit;
}

.rbc-day-slot .rbc-event {
  background-color: inherit;
}
.ant-notification-notice-description{
  color: white !important;
  font-size: 1rem !important;
}
.ant-notification-notice-message{
  color: white !important;
  font-size: 1rem !important;

}
.row-red {
  color: red !important;
  background-color: #ECF8F6;


  /* background-color:#C0B198; */
}
.row-brown{
  background-color: #F1F1D3;
}
.row-yellow{
  background-color: #709CA7;

}
.Title{
  color: #40494D;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.ant-table-wrapper .ant-table-pagination.ant-pagination{
  visibility: hidden;
  

}
.ant-table-wrapper table {
 
  min-height: 5rem !important;
}
.downloadbutton{
  margin-right:2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left:2rem;
  padding-right:2rem;
  background-color: #7acd4b;
  color: white;
}
.downloadbutton:hover{
  opacity: 0.7;
}
table {
  border-collapse: collapse;
  width: 20%;
}
th, td {
  padding: 8px;
  text-align: left;
}
/* Style pour les en-têtes */

.page {
  display: flex;
  flex-direction: row; /* Ajuster à l'orientation paysage */
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: Helvetica;
  transform: rotate(50deg); /* Rotation de 90 degrés pour l'orientation paysage */
  transform-origin: center center; /* Centrer la rotation */
  width: 100vh; /* Définir la largeur pour correspondre à la hauteur de la page */
  height: 100vw; /* Définir la hauteur pour correspondre à la largeur de la page */
}
.react-datepicker-ignore-onclickoutside{
  background-color: #eeeeee!important;
 
  z-index: 2;
}
input{

  border-color: transparent;
  width:20rem;
  padding-top: 0.5rem;

  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0.8;
  z-index: 2;
  


  


}
@media screen and (min-width: 300px) and (max-width:700px) {
.calendar{
  display: block;

}
}
@media screen and (min-width: 300px) and (max-width:500px) {
  .calendar{
    display: block;
  
  }
  }

  .datepicker-wrapper {
    position: relative;
    width: 30%;
   
    /* flex-direction: row;
    display: flex; */

  }
  
  .calendar-icon {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #767375;
  }
  .custom-datepickerEdit{
    width: 100%;
    height: 3rem;
    background-color: #eeeeee;
    color:black;
    padding-left: 1rem

    
  }
  
  .custom-datepicker {
    width: 100%;
    padding-left: 2rem; /* Adjust padding to accommodate the icon */
    padding-right: 4rem;
    background-color: 
    #eeeeee;
    color:#bfc0bf;
    z-index: 3;
    border-radius: 0.5rem;
   
  }
  @media screen and (min-width: 300px) and (max-width:900px) {

    .custom-datepicker {
     
      width: 30%;
      background-color: 
      #eeeeee;
      color:#bfc0bf;
      z-index: 1;
      border-radius: 0.5rem;
    }
    .datepicker-wrapper {
      position: relative;
      width: 100%;
  
    }
    .calendar-icon {
      position: absolute;
      z-index: 2;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #767375;
    }

  }
  .row1-red {
    background-color: red !important;
    color: black;
  }
  .Notification{
    border: none;
    background-color:transparent;
    margin-bottom: 0.5rem;
  




  }
  .Space{
  height: 1px;
  background-color:  #B6CDE8;

  }
.EditIcone {
  display: inline-block; 
  width: 36px;

  height: 36px; 
  border-radius: 50%; 
  background-color: red; 
  text-align: center; 
  line-height: 36px; 
}

/* Styles lorsque l'élément est en mode édition */
.EditIcone.active {

  border-color: green; 
}
.EditIcone.not-editing {

  opacity: 0.5; 
}

  .EditIcone{
    color:#0083ff;
  }
  .EditIcone-container {
    display: inline-block; 
    width: 36px;
    height: 36px; 
    border-radius: 50%; 
    background-color: lightblue; 
    text-align: center; 
    line-height: 36px; 
  }
  .pointageContainer {
    display: flex;
    align-items: center; 
  
    padding: 4px; 
  }
  .TitleInput{
    padding-bottom: 1rem;
    
  }
  .status-approved {
    color: green;
  }
  
  .status-rejected {
    color: red;
  }
  
  .status-unknown {
    color: black;
  }
  .status-Pending{
    color: black;

  }
  .time{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

  }
  .ant-menu .ant-menu-item-group .ant-menu-item-group-list{
    margin-top: -0.75rem;

  }
.ant-menu-light.ant-menu-root.ant-menu-vertical, :where(.css-dev-only-do-not-override-12f5361).ant-menu-light>.ant-menu.ant-menu-root.ant-menu-vertical {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
   
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
 .simplebar-content {
  height: 0% !important;
 }
 .bottomRight{
  display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: flex-end;
 }



